* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  height: 144px;

  .upper_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c4b35;
    height: 59px;

    .container_upper {
      width: 1418px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: none;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
          color: #ffffff;

          .mail_send_icon {
            width: 25px;
            height: 17px;
          }
        }
      }

      .nav-link {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #ffffff;
      }

      .dropdown-menu {
        border-radius: 0px;
      }

      ul.dropdown-menu.show {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }
}

// ______________________________________________________________________________________________________

.main_nav {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 85px;
  border-bottom: #212529;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);

  .container_main_nav {
    width: 1418px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_main_nav {
      display: flex;
      justify-content: center;
      align-items: center;

      .plants_logo_in_main_nav {
        width: 120px;
      }
    }

    .center_main_nav {
      margin-left: 380px;

      .nav-link {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        color: #212529;

        padding-left: 30px;
      }
    }

    .right_main_nav {
      display: flex;
      justify-content: flex-end;

      .call_us_btn {
        width: 170px;
        height: 50px;
        background-color: #00730c;
        border: 0;
        border-radius: 5px;
        color: white;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 35px;
      }

      .btn_tel_icon_in_main_nav {
        width: 29px;
        margin-right: 10px;
      }
    }
  }
}

// __________________________________________________________________________________________________

.block__2 {
  display: block;
  background-image: url(./photos/BG_block_2.png);
  background-repeat: no-repeat;
  height: 719px;

  position: relative;

  .container_block__2 {
    width: 1418px;
    position: relative;
    margin: auto;
    z-index: 2;

    .sub_upper_title {
      position: absolute;
      top: 133px;
      left: 10px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: #212529;
    }

    .big_title_in_block_2 {
      position: absolute;
      top: 173px;
      left: 10px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 800;
      font-size: 58px;
      line-height: 79px;
      color: #212529;

      .span_in_big_title_in_block_2 {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 800;
        font-size: 58px;
        line-height: 79px;
        color: #00730c;
      }
    }

    .paragraph_in_block_2 {
      position: absolute;
      top: 351px;
      left: 10px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #676767;
    }

    .get_a_quite_btn {
      position: absolute;
      top: 461px;
      left: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 13px 35px;
      gap: 10px;
      width: 175px;
      height: 50px;
      background: #00730c;
      border-radius: 5px;
      border: 0;
      color: #ffffff;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;
      display: block;
      z-index: 200;
    }

    .see_how_it_works_link {
      text-decoration: none;
      position: absolute;
      top: 474px;
      left: 215px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      color: #676767;
    }

    .sharik1 {
      position: absolute;
      top: 569px;
      left: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 7px;
      gap: 10px;
      width: 50px;
      height: 50px;
      background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
      border-radius: 35px;

      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #212529;
    }

    .sharik1-text {
      position: absolute;
      top: 575px;
      left: 70px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: #212529;
    }

    .sharik2 {
      position: absolute;
      top: 569px;
      left: 169px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 7px;
      gap: 10px;
      width: 50px;
      height: 50px;
      background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
      border-radius: 35px;

      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #212529;
    }

    .sharik2-text {
      position: absolute;
      top: 575px;
      left: 230px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: #212529;
    }

    .sharik2-text_adaptive,
    .sharik1-text_adaptive {
      visibility: hidden;
    }

    .sharik3 {
      position: absolute;
      top: 569px;
      left: 318px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 7px;
      gap: 10px;
      width: 50px;
      height: 50px;
      background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
      border-radius: 35px;

      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #212529;
    }

    .sharik3-text {
      position: absolute;
      top: 575px;
      left: 380px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: #212529;
    }
  }

  .big_picture_of_black_2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
  }

  .small_picture_of_black_2 {
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 60px;
  }
}

/* _________________________________adaptive header___________________________________________ */

@media (max-width: 391px) {
  body {
    width: 390px;
  }

  header {
    width: 390px;
    height: 130px;

    .container_upper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 20px 15px;
      width: 375px;
      height: 55px;
      background: #0c4b35;
      position: relative;

      a.link_in_nav {
        visibility: hidden;
      }

      .mail_send_icon {
        visibility: visible;
        position: absolute;
        top: 23px;
        left: 21px;
      }

      .tel_send_icon {
        visibility: visible;
        position: absolute;
        top: 19px;
        left: 71px;
      }

      .adress_send_icon {
        visibility: visible;
        position: absolute;
        top: 19px;
        left: 121px;
      }

      .nav-item {
        visibility: visible;
        position: absolute;
        top: 13px;
        right: 21px;
      }
    }

    .main_nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 0px;
      width: 390px;
      height: 70px;
      background: #ffffff;
      box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
      border-radius: 0px;

      position: relative;

      .plants_logo_in_main_nav {
        position: absolute;
        left: 10px;
        top: 24px;
        max-width: 92px;
      }

      .navbar-toggler {
        position: absolute;
        right: 20px;
      }

      .call_us_btn {
        position: absolute;
        left: 220px;
        bottom: 15px;
        max-width: 10px;
        max-height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        .btn_tel_icon_in_main_nav {
          visibility: visible;
          width: 25px;
          height: 25px;
          margin-left: 40px;
        }

        .call_us_btn_text_content {
          visibility: hidden;
        }
      }
    }
  }
}

/* _________________________________adaptive block__2___________________________________________ */

@media (max-width: 391px) {
  .block__2 {
    position: relative;
    top: -30px;
    width: 390px;
    height: 719px;
    left: 0px;
    top: 0px;
    background: linear-gradient(
      39.89deg,
      rgba(0, 115, 12, 0.81) -22.86%,
      rgba(251, 246, 238, 0) 116.18%
    );

    .big_picture_of_black_2 {
      position: absolute;
      left: 0%;
      right: 0%;
      top: -0.07%;
      bottom: 0.07%;

      width: 390px;
      height: 240px;
      background: #c4c4c4;
    }

    .small_picture_of_black_2 {
      position: absolute;
      left: -2.67%;
      right: 80.53%;
      top: 81.5%;
      bottom: 2.09%;

      width: 83px;
      height: 118px;
      background: url(.png);
    }

    .container_block__2 {
      position: absolute;
      width: 390px;

      .sub_upper_title {
        position: absolute;
        top: 270px;
        left: 14px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
      }

      .big_title_in_block_2 {
        position: absolute;
        top: 300px;
        left: 14px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        color: #212529;

        .span_in_big_title_in_block_2 {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 38px;
          color: #00730c;
        }
      }

      .paragraph_in_block_2 {
        position: absolute;
        top: 390px;
        left: 14px;
        width: 345px;
        height: 66px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #212529;
      }

      .get_a_quite_btn {
        position: absolute;
        top: 495px;
        left: 38.5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 85px;
        gap: 10px;
        width: 303px;
        height: 44px;
        background: #00730c;
        border-radius: 5px;
      }

      .see_how_it_works_link {
        position: absolute;
        top: 560px;
        left: 117px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #00730c;
      }

      .sharik1 {
        position: absolute;
        top: 650px;
        left: 86px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 10px;
        gap: 8px;
        width: 133px;
        height: 32px;
        background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
        border-radius: 32px;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      .sharik1-text_adaptive {
        visibility: visible;
        position: absolute;
        top: 658px;
        left: 135px;
        width: 76px;
        height: 14px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #212529;
        flex: none;
        order: 1;
        flex-grow: 0;
      }

      .sharik2 {
        position: absolute;
        top: 650px;
        left: 230px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 10px;
        gap: 8px;
        width: 128px;
        height: 32px;
        background: linear-gradient(180deg, #fff8f1 0%, #d7e8d9 100%);
        border-radius: 32px;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      .sharik2-text_adaptive {
        visibility: visible;
        position: absolute;
        top: 658px;
        left: 280px;
        width: 76px;
        height: 14px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #212529;
        flex: none;
        order: 1;
        flex-grow: 0;
      }

      .sharik1-text,
      .sharik2-text,
      .sharik3,
      .sharik3-text {
        visibility: hidden;
      }
    }
  }
}

/* _________________________________adaptive block__2_________FININSH_________________________ */

// __________________________________________BLOCK__3_________________________________________________

.block__3 {
  display: block;
  background-color: #ffffff;
  position: relative;
  // height: 1100px;

  .container_block__3 {
    width: 1418px;
    margin: auto;

    .first_center_part {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      flex-direction: column;
      align-items: center;

      .big_title_in_block__3 {
        align-items: center;
        width: 437px;
        height: 61px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 61px;
        color: #212529;
        align-content: center;

        .color_green_span {
          width: 437px;
          height: 61px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 800;
          font-size: 45px;
          line-height: 61px;
          color: #00730c;
        }
      }

      .paragraph_in_block__3 {
        width: 1136px;
        height: 90px;
        padding-top: 30px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #676767;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 77px 180px;
      gap: 10px;
      width: 330px;
      height: 366px;
      background-image: url(./photos/BG_of_card_in_block__3_no_hover.png);
      box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
      border-radius: 10px;
      border: 0;

      margin-bottom: 30px;
      position: relative;

      .card-img-top {
        max-width: 80px;
        max-height: 80px;
        position: absolute;
        left: 130px;
        right: 130px;
        top: 60px;
        bottom: 0%;
      }

      .card_title {
        position: absolute;
        top: 180px;
        left: 35px;
        right: 35px;
        right: inherit;
        width: 260px;
        height: 33px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        text-transform: capitalize;
        color: #212529;
      }

      .card_text {
        position: absolute;
        top: 222px;
        left: 34px;
        width: 263px;
        height: 84px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #676767;
      }
    }
  }
}

/* _________________________________adaptive block__3___________________________________________ */

@media (max-width: 391px) {
  .block__3 {
    position: relative;
    width: 390px;
    height: 1361px;
    left: 0px;
    top: -50px;

    .container_block__3 {
      width: 380px;

      .first_center_part {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 0px;

        .big_title_in_block__3 {
          position: absolute;
          top: 0px;
          width: 267px;
          height: 38px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 38px;
          color: #212529;
          order: 0;
          flex-grow: 0;

          .color_green_span {
            position: absolute;
            width: 267px;
            height: 38px;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
          }
        }

        .paragraph_in_block__3 {
          position: absolute;
          top: 50px;
          width: 344px;
          height: 110px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
          color: #676767;
          margin: 0px;
          padding: 0px;
        }
      }

      .cardBlock_in_block__3 {
        position: absolute;
        top: 140px;
        margin-top: 0px;

        .card {
          width: 345px;
          height: 116px;
          position: relative;

          .card-img-top {
            position: absolute;
            top: 33px;
            left: 20px;
            width: 50px;
          }

          .card_title {
            position: absolute;
            top: 20px;
            left: 90px;
            width: 180px;
            height: 22px;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            text-transform: capitalize;
            color: #212529;
            text-align: left;

            .color_green_span {
              position: absolute;
              top: 20px;
              right: 10px;
              height: 22px;
            }
          }

          .card_text {
            position: absolute;
            top: 52px;
            left: 90px;
            width: 255px;
            height: 44px;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #676767;
            text-align: left;
          }
        }

        #card1 {
          position: absolute;
          top: 10px;
          left: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 233px 2px 0px;
          gap: 10px;
          width: 345px;
          height: 116px;

          background: linear-gradient(
            172.29deg,
            #ffffff -10.79%,
            #ffffff 94.04%
          );
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
        }

        #card2 {
          position: absolute;
          top: 150px;
          left: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 233px 2px 0px;
          gap: 10px;

          width: 345px;
          height: 116px;

          background: linear-gradient(
            172.29deg,
            #ffffff -10.79%,
            #ffffff 94.04%
          );
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
        }
        #card3 {
          position: absolute;
          top: 290px;
          left: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 233px 2px 0px;
          gap: 10px;

          width: 345px;
          height: 116px;

          background: linear-gradient(
            172.29deg,
            #ffffff -10.79%,
            #ffffff 94.04%
          );
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
        }

        #card4 {
          position: absolute;
          top: 430px;
          left: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 233px 2px 0px;
          gap: 10px;

          width: 345px;
          height: 116px;

          background: linear-gradient(
            172.29deg,
            #ffffff -10.79%,
            #ffffff 94.04%
          );
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
        }

        #card5 {
          position: absolute;
          top: 570px;
          left: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 233px 2px 0px;
          gap: 10px;

          width: 345px;
          height: 116px;

          background: linear-gradient(
            172.29deg,
            #ffffff -10.79%,
            #ffffff 94.04%
          );
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
        }

        #card6 {
          position: absolute;
          top: 710px;
          left: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 233px 2px 0px;
          gap: 10px;

          width: 345px;
          height: 116px;

          background: linear-gradient(
            172.29deg,
            #ffffff -10.79%,
            #ffffff 94.04%
          );
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
        }

        #card7 {
          position: absolute;
          top: 850px;
          left: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 233px 2px 0px;
          gap: 10px;

          width: 345px;
          height: 116px;

          background: linear-gradient(
            172.29deg,
            #ffffff -10.79%,
            #ffffff 94.04%
          );
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
        }

        #card8 {
          position: absolute;
          top: 990px;
          left: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 233px 2px 0px;
          gap: 10px;

          width: 345px;
          height: 116px;

          background: linear-gradient(
            172.29deg,
            #ffffff -10.79%,
            #ffffff 94.04%
          );
          box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
          border-radius: 10px;
        }
      }
    }
  }
}

// ____________________________________________block__4_______________________________________________________

.block__4 {
  display: block;
  position: relative;
  top: 100px;

  .listok_block__4 {
    position: absolute;
    top: 65px;
    left: -50px;
    width: 232.78px;
    height: 349.64px;
    background: url(.png);
    // transform: matrix(-0.94, -0.34, -0.34, 0.94, 0, 0);
    flex: none;
  }

  .container_block__4 {
    width: 1418px;
    height: 1050px;
    position: relative;
    margin: auto;

    .titleInBlock__4 {
      position: absolute;
      top: 45px;
      right: 116px;
      width: 574px;
      height: 122px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 800;
      font-size: 45px;
      line-height: 61px;
      display: flex;
      align-items: center;
      color: #212529;
      flex: none;
      order: 0;
      flex-grow: 0;

      .color_green_span {
        color: #00730c;
      }
    }

    .paragraph_1_in_block__4 {
      position: absolute;
      top: 200px;
      right: 18px;
      width: 672px;
      height: 280px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      display: flex;
      align-items: center;
      color: #676767;
    }

    .krujok1_block__4 {
      position: absolute;
      right: 593px;
      top: 541px;
      width: 67px;
    }

    .text_for_krujok1_block__4 {
      position: absolute;
      right: 435px;
      top: 558px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      text-transform: capitalize;
      color: #212529;
      text-decoration: none;
    }

    .krujok2_block__4 {
      position: absolute;
      right: 233px;
      top: 541px;
      width: 67px;
    }

    .text_for_krujok2_block__4 {
      position: absolute;
      right: 90px;
      top: 558px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      text-transform: capitalize;
      color: #212529;
      text-decoration: none;
    }

    .krujok3_block__4 {
      position: absolute;
      right: 588px;
      top: 668.5px;
      width: 77px;
    }

    .text_for_krujok3_block__4 {
      position: absolute;
      right: 410px;
      top: 685.5px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      text-transform: capitalize;
      color: #212529;
      text-decoration: none;
    }

    .krujok4_block__4 {
      position: absolute;
      right: 233px;
      top: 671.5px;
      width: 67px;
    }

    .text_for_krujok4_block__4 {
      position: absolute;
      right: 70px;
      top: 685.5px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      text-transform: capitalize;
      color: #212529;
      text-decoration: none;
    }

    // ____________________________________________________adaptive_krujki_block__4_______________________________________________________________

    .adaptive_krujki_block__4 {
      visibility: hidden;
      position: relative;
      padding: 15px;
      top: 180px;
      left: 200px;
      z-index: 200;
      height: 250px;
      width: 380px;
      background-color: #212529;

      .space1 {
        padding: 15px;
        width: 162px;
        height: 94px;
        background: #ffffff;
        box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
        border-radius: 5px;
        position: relative;

        .krujok1_block__4_adaptive {
          width: 40px;
          position: absolute;
          top: 15px;
          left: 61px;
        }

        .text_for_krujok1_block__4_adaptive {
          position: absolute;
          top: 60px;
          left: 15px;
          width: 132px;
          height: 19px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: #212529;
          text-decoration: none;
        }
      }

      .space2 {
        padding: 15px;
        gap: 10px;
        width: 162px;
        height: 94px;
        background: #ffffff;
        box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
        border-radius: 5px;
        position: relative;
        left: 182px;
        top: -94px;

        .krujok2_block__4_adaptive {
          width: 40px;
          position: absolute;
          top: 15px;
          left: 61px;
        }

        .text_for_krujok2_block__4_adaptive {
          position: absolute;
          top: 60px;
          left: 15px;
          width: 132px;
          height: 19px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: #212529;
          text-decoration: none;
        }
      }

      .space3 {
        padding: 15px;
        gap: 10px;
        width: 162px;
        height: 94px;
        background: #ffffff;
        box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
        border-radius: 5px;
        position: relative;
        top: -64px;

        .krujok3_block__4_adaptive {
          width: 40px;
          position: absolute;
          top: 15px;
          left: 61px;
        }

        .text_for_krujok3_block__4_adaptive {
          position: absolute;
          top: 60px;
          left: 15px;
          width: 132px;
          height: 19px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: #212529;
          text-decoration: none;
        }
      }

      .space4 {
        padding: 15px;
        gap: 10px;
        width: 162px;
        height: 94px;
        background: #ffffff;
        box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
        border-radius: 5px;
        position: relative;
        top: -158px;
        left: 182px;

        .krujok4_block__4_adaptive {
          width: 40px;
          position: absolute;
          top: 15px;
          left: 61px;
        }

        .text_for_krujok4_block__4_adaptive {
          position: absolute;
          top: 60px;
          left: 15px;
          width: 132px;
          height: 19px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: #212529;
          text-decoration: none;
        }
      }
    }

    .greenShit {
      position: absolute;
      width: 450px;
      height: 706px;
      left: 0px;
      top: 0px;
      background: #00730c;
    }

    .picture_in_block__3 {
      position: absolute;
      top: 36px;
      left: 24px;
    }

    .small_picture_in_block__3 {
      box-sizing: border-box;
      width: 456px;
      height: 306px;
      position: absolute;
      top: 590px;
      left: 237px;
      border-radius: 10px;
    }

    .discover_More_btn {
      position: absolute;
      top: 800px;
      right: 500px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 13px 15px;
      gap: 10px;
      width: 190px;
      height: 50px;
      background: #00730c;
      border-radius: 5px;
      border: 0;
      flex: none;
      order: 0;
      flex-grow: 0;

      /* Button/Button Text */

      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;
      color: #ffffff;
    }
  }
}

// ____________________________________________block__4 ADAPTIVE_______________________________________________________

@media (max-width: 391px) {
  .block__4 {
    position: relative;
    width: 390px;
    height: 1281px;
    left: 0px;
    top: -40px;
    padding: 15px;

    .listok_block__4 {
      visibility: hidden;
    }

    .container_block__4 {
      width: 380px;

      .greenShit {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 188px;
        height: 293px;
      }

      .picture_in_block__3 {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 291px;
        height: 358px;
        background: #c4c4c4;
      }

      .small_picture_in_block__3 {
        box-sizing: border-box;
        position: absolute;
        left: 103px;
        top: 300px;
        width: 241px;
        height: 162px;
      }

      .titleInBlock__4 {
        position: absolute;
        top: 492px;
        left: 1px;
        width: 345px;
        height: 76px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #00730c;
      }

      .paragraph_1_in_block__4 {
        position: absolute;
        top: 583px;
        left: 0px;
        width: 345px;
        height: 330px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #676767;
      }

      .krujok1_block__4,
      .krujok2_block__4,
      .krujok3_block__4,
      .krujok4_block__4 {
        visibility: hidden;
      }

      .text_for_krujok1_block__4,
      .text_for_krujok2_block__4,
      .text_for_krujok3_block__4,
      .text_for_krujok4_block__4 {
        visibility: hidden;
      }

      .adaptive_krujki_block__4 {
        visibility: visible;
        position: absolute;
        top: 925px;
        left: -15px;
        background-color: white;
      }

      .discover_More_btn {
        position: absolute;
        top: 1191px;
        left: 89px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        gap: 10px;
        width: 167px;
        height: 40px;
        background: #00730c;
        border-radius: 5px;

        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

// ____________________________________________block__5_______________________________________________________

.block__5 {
  display: block;
  background: #0c4b35;
  position: relative;
  height: 659px;

  .big_image1_in_block__5 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
    z-index: 0;
  }

  .big_image2_in_block__5 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    opacity: 0.5;
    z-index: 0;
  }

  .container_block__5 {
    width: 1418px;
    position: relative;
    z-index: 2;
    margin: auto;

    .title_in_block__5 {
      position: absolute;
      top: 100px;
      left: 0px;
      width: 337px;
      height: 61px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 61px;
      color: #ffffff;
    }

    .paragraph_in_block__5 {
      position: absolute;
      top: 191px;
      left: 0px;
      width: 656px;
      height: 120px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #ffffff;
    }

    .link_in_block__5 {
      width: 192px;
      height: 33px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
    }

    .img_of_check_1 {
      position: absolute;
      top: 362.5px;
      left: 0px;
      width: 30px;
    }

    #link1_in_block__5 {
      position: absolute;
      top: 362.5px;
      left: 50px;
    }

    .img_of_check_2 {
      position: absolute;
      top: 415.5px;
      left: 0px;
      width: 30px;
    }

    #link2_in_block__5 {
      position: absolute;
      top: 415.5px;
      left: 50px;
    }

    .img_of_check_3 {
      position: absolute;
      top: 362.5px;
      left: 360px;
      width: 30px;
    }

    #link3_in_block__5 {
      position: absolute;
      top: 362.5px;
      left: 410px;
    }

    .img_of_check_4 {
      position: absolute;
      top: 415.5px;
      left: 360px;
      width: 30px;
    }

    #link4_in_block__5 {
      position: absolute;
      top: 415.5px;
      left: 410px;
    }

    .discover_More_btn {
      position: absolute;
      top: 497px;
      left: 0px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 13px 15px;
      gap: 10px;
      width: 190px;
      height: 50px;
      background: #00730c;
      border-radius: 5px;
      border: 0;
      flex: none;
      order: 0;
      flex-grow: 0;

      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;
      color: #ffffff;
    }

    .big_image_in_container__5 {
      position: absolute;
      width: 672px;
      height: 426px;
      right: 1px;
      top: 114.5px;
    }
  }
}

// ____________________________________________block__5_ADAPTIVE_______________________________________________________

@media (max-width: 391px) {
  .block__5 {
    position: relative;
    width: 390px;
    height: 684px;

    .big_image1_in_block__5 {
      position: absolute;
      left: 0px;
      top: 130px;
      opacity: 0.5;
      width: 100px;
      z-index: 0;
    }

    .big_image2_in_block__5 {
      position: absolute;
      right: 0px;
      top: 0px;
      opacity: 0.5;
      width: 80px;
      z-index: 0;
    }

    .container_block__5 {
      position: relative;
      z-index: 2;
      width: 390px;
      height: 684px;
      padding: 15px;

      .big_image_in_container__5 {
        position: absolute;
        width: 345px;
        height: 217px;
        top: 50px;
        left: 22px;
      }

      .title_in_block__5 {
        position: absolute;
        top: 297px;
        left: 82.5px;
        right: 82.5px;
        width: 210px;
        height: 38px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        color: #ffffff;
      }

      .paragraph_in_block__5 {
        position: absolute;
        top: 350px;
        left: 15px;
        width: 345px;
        height: 110px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
      }

      .link_in_block__5 {
        width: 128px;
        height: 22px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: capitalize;
        color: #ffffff;
      }

      .img_of_check_1 {
        position: absolute;
        top: 500px;
        left: 15px;
        width: 20px;
      }

      #link1_in_block__5 {
        position: absolute;
        top: 500px;
        left: 45px;
      }

      .img_of_check_2 {
        position: absolute;
        top: 542px;
        left: 15px;
        width: 20px;
      }

      #link2_in_block__5 {
        position: absolute;
        top: 542px;
        left: 45px;
      }

      .img_of_check_3 {
        position: absolute;
        top: 500px;
        left: 202px;
        width: 20px;
      }

      #link3_in_block__5 {
        position: absolute;
        top: 500px;
        left: 232px;
      }

      .img_of_check_4 {
        position: absolute;
        top: 542px;
        left: 202px;
        width: 20px;
      }

      #link4_in_block__5 {
        position: absolute;
        top: 542px;
        left: 232px;
      }

      .discover_More_btn {
        position: absolute;
        top: 594px;
        left: 104px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        gap: 10px;
        width: 167px;
        height: 40px;
        background: #00730c;
        border-radius: 5px;
        font-size: 16px;
      }
    }
  }
}

// ____________________________________________block__6_______________________________________________________

.block__6 {
  display: block;
  position: relative;
  height: 1095px;

  .container_block__6 {
    width: 1418px;
    position: relative;
    z-index: 2;
    margin: auto;

    .title_in_block__6 {
      position: absolute;
      top: 96px;
      left: 524px;
      width: 361px;
      height: 61px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 800;
      font-size: 45px;
      line-height: 61px;
      color: #212529;

      span {
        color: #00730c;
      }
    }

    .paragraph_in_block__6 {
      position: absolute;
      top: 177px;
      left: 137px;
      width: 1136px;
      height: 60px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #676767;
    }

    .card6 {
      position: relative;
      gap: 10px;
      width: 330px;
      height: 408px;
      background: #ffffff;
      box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
      border-radius: 10px;

      .card6_background {
        position: absolute;
        top: 113px;
        right: 44px;
        height: 162px;

        opacity: 1;
        z-index: 1;
      }

      .card6_image_in_block__6 {
        position: absolute;
        left: 29px;
        top: 55px;
        height: 80px;
        z-index: 2;
      }

      .card6_number_image_in_block__6 {
        position: absolute;
        right: 31px;
        top: 55px;
        height: 70px;
        z-index: 2;
      }

      .title_in_card6 {
        position: absolute;
        top: 165px;
        left: 29px;
        width: 271px;
        height: 33px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-transform: capitalize;
        color: #212529;
        z-index: 2;
      }

      .paragraph_in_card6 {
        position: absolute;
        top: 218px;
        left: 29px;
        width: 270px;
        height: 120px;
        z-index: 2;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #676767;
      }
    }

    #card1_block__6 {
      position: absolute;
      top: 287px;
      left: 0px;
    }

    #card2_block__6 {
      position: absolute;
      top: 287px;
      left: 360px;
    }

    #card3_block__6 {
      position: absolute;
      top: 287px;
      right: 360px;
    }

    #card4_block__6 {
      position: absolute;
      top: 287px;
      right: 0px;
    }

    .block_after_cards_in_block__6 {
      position: absolute;
      top: 795px;
      left: 0px;
      width: 100%;
      height: 247px;
      background-image: url(./photos/background_in_after_block.png);
      background-repeat: no-repeat;
    }

    #block_after_cards_in_block__6_id {
      position: relative;

      .text_in_after_block {
        position: absolute;
        left: 647px;
        top: 78.5px;
        width: 448px;
        height: 90px;

        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 45px;

        color: #ffffff;
      }

      .call_us_btn {
        position: absolute;
        top: 98.5px;
        right: 60px;
        width: 170px;
        height: 50px;
        background: #ffffff;
        border: 0;
        border-radius: 5px;
        color: #00730c;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 35px;
      }

      .btn_tel_icon_in_main_nav {
        width: 29px;
        margin-right: 10px;
      }
    }
  }
}

// ____________________________________________block__6_ADAPTIVE_______________________________________________________

@media (max-width: 391px) {
  .block__6 {
    position: relative;
    width: 390px;
    height: 1100px;

    .container_block__6 {
      position: relative;
      z-index: 2;
      width: 390px;
      height: 1100px;

      .title_in_block__6 {
        position: absolute;
        top: 50px;
        left: 77.5px;
        width: 220px;
        height: 38px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
      }

      .paragraph_in_block__6 {
        position: absolute;
        top: 103px;
        left: 15px;
        width: 345px;
        height: 110px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
      }

      #card1_block__6 {
        position: absolute;
        top: 243px;
        left: 22.5px;
      }

      #card2_block__6 {
        position: absolute;
        top: 471px;
        left: 22.5px;
      }

      #card3_block__6 {
        position: absolute;
        top: 699px;
        left: 22.5px;
      }

      #card4_block__6 {
        position: absolute;
        top: 927px;
        left: 22.5px;
      }

      .card6 {
        width: 345px;
        height: 208px;

        .card6_background {
          height: 100px;
          position: absolute;
          top: 47px;
          right: 61px;
        }

        .card6_image_in_block__6 {
          height: 50px;
          position: absolute;
          top: 22px;
          left: 20px;
        }

        .card6_number_image_in_block__6 {
          position: absolute;
          top: 20px;
          height: 45px;
        }

        .title_in_card6 {
          position: absolute;
          top: 90px;
          left: 20px;
          width: 271px;
          height: 22px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          text-transform: capitalize;
          color: #212529;
        }

        .paragraph_in_card6 {
          position: absolute;
          top: 122px;
          left: 20px;
          width: 305px;
          height: 66px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          z-index: 2313;
        }
      }

      .block_after_cards_in_block__6 {
        position: absolute;
        top: 1190px;
        left: 22.5px;
        width: 345px;
        height: 224px;
        background-image: url(./photos/background_in_after_block_adaptive.png);
        background-repeat: no-repeat;
        background-size: 345px;
      }

      #block_after_cards_in_block__6_id {
        position: relative;

        .text_in_after_block {
          position: absolute;
          top: 50px;
          left: 41px;
          width: 272px;
          height: 54px;

          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          text-align: center;

          color: #ffffff;
        }

        .call_us_btn {
          position: absolute;
          top: 134px;
          left: 108px;
          width: 137px;
          height: 40px;
          background: #ffffff;

          .call_us_btn_text_content {
            width: 100px;
            text-align: center;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
    }
  }
}
